/.idea/.name
/.idea/codestream.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/shelf/Default_Changelist.xml
/.idea/shelf/Default_Changelist/lemonmilk-webfont.woff
/.idea/shelf/Default_Changelist/lemonmilk-webfont.woff2
/.idea/shelf/Default_Changelist/lemonmilklight-webfont.woff
/.idea/shelf/Default_Changelist/lemonmilklight-webfont.woff2
/.idea/shelf/Default_Changelist/library-webfont.woff
/.idea/shelf/Default_Changelist/library-webfont.woff2
/.idea/shelf/Default_Changelist/loader.gif
/.idea/shelf/Default_Changelist/logo.png
/.idea/modules.xml
/.idea/shelf/Default_Changelist/munichregular-webfont.woff
/.idea/shelf/Default_Changelist/munichregular-webfont.woff2
/.idea/shelf/Default_Changelist/Olivia-Regular.woff
/.idea/REC V2.iml
/.idea/shelf/Default_Changelist/ScriptMTBold.woff
/.idea/shelf/Default_Changelist/shelved.patch
/.idea/shelf/Default_Changelist/simson.woff
/.idea/vcs.xml
/.idea/workspace.xml
